/* Custom CSS rules */
i {
  margin-right: 0.25em;
}

.reveal .nobullets {
  list-style: none;
}

.reveal .nobullets li::before {
  content: "\200B";
}

.reveal .creativecommons {
  margin-top: 2em;
  margin-bottom: 0;
}

.reveal .creativecommons span {
  font-size: 0.4em;
}
